<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="DoGood-QA">
        <parameter name ="Email" value="admin@dogoodsinc.com"/>
        <parameter name="Password" value="Admin@Shipplug2024!"/>
        <parameter name="URL" value="https://qa-admin.dogoodsinc.com/admin/"/>
        <classes>
            <class name="test.UserInformationPageTest"/>
            <class name="test.LoginPageTest"/>

        </classes>
    </test>
</suite>